@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@font-face {
    font-family: 'LucideIcons';
    src: url(https://unpkg.com/lucide-static@latest/font/Lucide.ttf) format('truetype');
  }
  
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2874f0;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 60px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0 2vw;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .1px;
    font-weight: 500;
}

nav ul li a:hover {
    color: black;
}

.logo {
    margin: 0 1.5vw 0 1.5vw;
}

.logo img {
    width: 100px;
}

.search {
    display: flex;
    align-items: center;
    margin: 0 1.5vw 0 1.5vw;
}

.search input {
    width: 430px;
    height: 30px;
    border: 2px solid white;
    border-radius: 2px;
    padding: 0 12px;
}

.container {
    min-height: calc(100vh - 60px - 40px);
}

footer {
    font-family: 'Roboto', sans-serif;
    height: 40px;
    background-color: #2874f0;
    color: white;
}